<html>
  <head>
    <meta http-equiv="Content-Security-Policy"  />

	

  </head>
  <body>

    <h1>SEO</h1>

    <h2>title</h2><p id="title"></p>
    <h2>discription</h2> <p id="d"></p>
    <h2>url</h2> <p id="url"></p>
    <h2>canonical</h2><p id="canon"></p>
    <h2>robot tag</h2><p id="robot"></p>
    <h2>no of h1 tags</h2> <p id="h1"></p>
    <h2>no of h2 tags</h2>  <p id="h2"></p>
    <h2>no of h3 tags</h2> <p id="h3"></p>
    <h2>no of hyperlinks</h2> <p id="links"></p>
    <h1>WEB VITALS</h1>
    <h2>(loading experience) first content paint percentile</h2> <p id="f"></p>
    <h2>(loading experience) first input delay percentile</h2><p id="i"></p>
    <h2>estimated input latency</h2> <p id="e"></p>


    <!--<button onclick="f()">Click me</button>  -->
    <button id="myBtn">Try it</button>
    
    <script src="display.js"></script>
    
    
  </body>
</html>